@import url('https://fonts.googleapis.com/css?family=Abril+Fatface|Cormorant+Garamond|Merriweather');

:root {
    font-family: 'Cormorant Garamond', serif;
}
body {
    max-width: 980px;
    margin: auto;
}

.caption {
    font-family: 'Abril Fatface', serif;
    font-size: 3rem;
    text-align: center;
    padding-top: 20px
}
.container{
    margin-right: auto;
    margin-left: auto;
}
.information {
    font-family: 'Cormorant Garamond', serif;
    font-size: 1rem;
}
.gallery{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
} 

.item{
    min-height: 250px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items:center;
    justify-content: center;
    font-family: 'Abril Fatface', serif;
    font-size: 1.5rem;
    
}

.item1{
    background-image: url(../img/livingroom2.jpg);
}

.item1 p{
    display: none;
}

.item1 p:hover{
    display: block;
}
.item2{
    background-image: url(../img/bedroom3.jpg);
}
.item3{
    background-image: url(../img/diningroom.jpg);
}

.item4{
    background-image: url(../img/princess-nurs.jpg);
}
.item5{
    background-image: url(../img/livingroom2.jpg);
}

.item6{
    background-image: url(../img/bedroom3.jpg);
}

.item p{
    display: none;
}

.item p:hover{
    cursor: pointer;
}

.item:hover p{
    display: block;
}

.item a {
  text-decoration: none;
  color: black;
}

.item a:hover {
  text-decoration: none;
  color: black;
}

.tab tr, th, td{
        text-align: center;
        margin-top: 5%;
}
.tab .box{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 5px;
    } 
    
h3 .title{
    text-align: center;

}

.map a{
  text-decoration: none;
  color: black;
}

@media (min-width: 550px){
    .item{
        display: flex;
        flex: 1;
    }
    
     .item{
        margin: 0 2%;
        padding: 5px;
    }
}
@media (max-width: 750px){
.gallery{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 5px;
    } 
.tab .box{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 5px;
    } 

@media (max-width: 550px){
.gallery{
    display: grid;
    grid-template-columns: 1fr ;
    grid-gap: 10px;
    } 
}

@media (max-width: 420px){
.item{
    min-height: 200px;
    } 
}

