@import url('https://fonts.googleapis.com/css?family=Abril+Fatface|Cormorant+Garamond|Merriweather');

:root {
    font-family: 'Cormorant Garamond', serif;
}
body {
    max-width: 980px;
    margin: auto;
}
.caption {
    font-family: 'Abril Fatface', serif;
    font-size: 3rem;
    text-align: center;
    padding-top: 20px
}

.gallery{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
}

.item{
    min-height: 300px;
    background-image: url(../img/blue-living.jpg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items:center;
    justify-content: center;
    font-size: 2rem;
}

.item p{
    display: none;
}

.item:hover p{
    display: block;
}

@media (min-width: 550px){
    .item{
        display: flex;
        flex: 1;
    }
    
     .item{
        margin: 0 2%;
        padding: 5px;
    }
    
}