@import url('https://fonts.googleapis.com/css?family=Abril+Fatface|Cormorant+Garamond|Merriweather');

:root {
    font-family: 'Cormorant Garamond', serif;
}
body {
    max-width: 980px;
    margin: auto;
}

.logo {
    
    font-family: 'Merriweather', serif;
    font-size: 1.5rem;
    margin-top: 0px;
    margin-bottom: 5px;
    text-align: right;
    padding-right: 150px;
}



.baner{
    min-height: 500px;
    background-image: url(../img/front-img.jpg);
    background-size: cover;
    background-position: center;
    
}

main gallery .img{
    min-height: 50%;
    background-image: url(../img/yellow-living.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (min-width: 550px){
    header nav ul.menu{
        display: flex;
        align-items: center;
        flex: 1;
    }
    
    header nav ul.menu li{
        margin: 0 2%;
    }
    header nav ul.menu li {
        margin-left: auto;
    }
}